<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand fw-bold" [routerLink]="['/']"><img src="assets/images/logo.png" alt="" width="150px"></a>
  </div>
</nav>
<header class="master-head">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-4 col-md-5">
        <img src="assets/images/banner.png" >
      </div>
      <div class="col-lg-8 col-md-7">
        <h1 class="text-bold"><span class="highlight">Chào mừng các bạn đến với</span> Win8.bet</h1>
        <p>Chúng tôi có các trò chơi phù hợp với mọi người chơi khi chơi Casino Online.
           Không chỉ có hàng trăm trò chơi Casino, chúng tôi còn gửi tặng nhiều phần thưởng và khuyến mãi cho các thành viên của mình.</p>
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <div>
            <a href="" role="button" class="btn btn-outline-light mb-4 me-lg-3"
              download>
              <i class="fab fa-apple"></i>
              IOS Lite
            </a>
          </div>
          <div>
            <a href="assets/res/WIN8BET-APK.apk" role="button" class="btn btn-outline-light mb-4" download>
              <i class="fab fa-android"></i>
              Android
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</header>